@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

h1, h2{
    font-family: Kavoon;
}

*{
    font-family: Inter;
}

h1{
    font-size: 3em;
}

nav h2{
    font-size: 1.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.15em;
}

nav{
    text-transform: uppercase;
}

nav h3{
    font-style: italic;
}