/*CSS BY (ZACHARY WEBB)*/

/*IMPORTED FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*CSS RESET*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*ROOT VARIABLES*/

:root{
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}

/*GLOBAL STYLES*/

body{
    font-family: Inter;
    background-color: var(--lavender);
    line-height: normal;
}

header, main, footer{
    background-color: var(--purple);
    max-width: 390px;
    margin: auto;
    padding: 0 15px;
}

h1, h2{
    font-family: Kavoon;
    color: var(--white);
}

h1{
    font-size: 3em;
}

nav h2{
    font-size: 1.5em;
    font-family: Inter;
    color: var(--dark-gray);
}

nav a{
    text-decoration: none;
}

h2{
    font-size: 2em;
    padding-top: 10px;
}

h3{
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bold;
    padding-bottom: 10px;
}

h4{
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bold;
    margin-bottom: 5px;
}


nav{
    text-transform: uppercase;
    font-weight: bold;
}

nav h2, header p{
    font-style: italic;
}

header{
    color: var(--white);
    text-align: center;
    padding: 35px 20px;
}

nav{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
    padding: 0.25em 0 1.5em;
    width: 420px;
    margin: auto;
}

nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

nav  ul li{
    width: 90%;
}

nav ul li a{
    display: block;
    background-color: var(--white);
    text-align: center;
    padding: 1em 0;
}

.box{
    background-color: var(--white);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 1.5em;
}

.us{
    background-color: var(--pink);
    margin: 0 -15px;
    padding: 0 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#choose{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-weight: bold;
    text-align: center;
}

#choose li{
    border-radius: 10px;
    width: 47%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
}

#personalized{
    background-color: var(--teal);
}

#proven{
    background-color: var(--lavender);
}

#supportive{
    background-color: var(--yellow);
}

#flexible{
    background-color: var(--white);
}

table{
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}

th{
    background-color: var(--yellow);
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid var(--yellow);
}

td{
    border: 2px solid var(--yellow);
    background-color: var(--white);
    padding: 10px;
}

#step{
    background-color: var(--pink);
    margin: 0 -15px;
    padding: 0 15px 5px;
    color: var(--white);
}

#step p{
    line-height: 1.35em;
    margin: 5px 0;
}

#step a{
    text-decoration: none;
    display: block;
    background-color: var(--white);
    color: var(--dark-gray);
    width: 85%;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px var(--dark-gray);
}

footer{
    display: flex;
    color: var(--white);
    font-size: 0.75em;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 90%;
    margin-bottom: 50px;
}

footer, footer a{
    color: var(--white);
}